In [187]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingRegressor

In [108]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
sample = pd.read_csv('./data/sample_submission.csv')

In [109]:
train.nom_0.unique()

array(['Green', 'Blue', 'Red'], dtype=object)

In [110]:
train.nom_1.unique()

array(['Triangle', 'Trapezoid', 'Polygon', 'Square', 'Star', 'Circle'],
      dtype=object)

In [111]:
train.nom_2.unique()

array(['Snake', 'Hamster', 'Lion', 'Cat', 'Dog', 'Axolotl'], dtype=object)

In [112]:
train.nom_3.unique()

array(['Finland', 'Russia', 'Canada', 'Costa Rica', 'China', 'India'],
      dtype=object)

In [113]:
train.nom_4.unique()

array(['Bassoon', 'Piano', 'Theremin', 'Oboe'], dtype=object)

In [114]:
len(train.nom_5.unique())

222

In [115]:
train.drop(['nom_5'], axis='columns', inplace=True)

In [116]:
test.drop(['nom_5'], axis='columns', inplace=True)

In [117]:
train.nom_6.unique()

len(train.nom_6.unique())

522

In [118]:
train.drop(['nom_6'], axis='columns', inplace=True)

In [119]:
test.drop(['nom_6'], axis='columns', inplace=True)

In [120]:
train.nom_7.unique()

len(train.nom_7.unique())

1220

In [121]:
train.drop(['nom_7'], axis='columns', inplace=True)

In [122]:
test.drop(['nom_7'], axis='columns', inplace=True)

In [123]:
train.nom_8.unique()

len(train.nom_8.unique())

2215

In [124]:
train.drop(['nom_8'], axis='columns', inplace=True)

In [125]:
test.drop(['nom_8'], axis='columns', inplace=True)

In [126]:
train.nom_9.unique()

len(train.nom_9.unique())

11981

In [127]:
train.drop(['nom_9'], axis='columns', inplace=True)

In [128]:
test.drop(['nom_9'], axis='columns', inplace=True)

In [129]:
train.ord_0.unique()

array([2, 1, 3], dtype=int64)

In [130]:
train.ord_1.unique()

array(['Grandmaster', 'Expert', 'Novice', 'Contributor', 'Master'],
      dtype=object)

In [131]:
train.ord_2.unique()

array(['Cold', 'Hot', 'Lava Hot', 'Boiling Hot', 'Freezing', 'Warm'],
      dtype=object)

In [132]:
train.ord_3.unique()

array(['h', 'a', 'i', 'j', 'g', 'e', 'd', 'b', 'k', 'f', 'l', 'n', 'o',
       'c', 'm'], dtype=object)

In [133]:
train.ord_4.unique()

array(['D', 'A', 'R', 'E', 'P', 'K', 'V', 'Q', 'Z', 'L', 'F', 'T', 'U',
       'S', 'Y', 'B', 'H', 'J', 'N', 'G', 'W', 'I', 'O', 'C', 'X', 'M'],
      dtype=object)

In [134]:
train.ord_5.unique()

array(['kr', 'bF', 'Jc', 'kW', 'qP', 'PZ', 'wy', 'Ed', 'qo', 'CZ', 'qX',
       'su', 'dP', 'aP', 'MV', 'oC', 'RL', 'fh', 'gJ', 'Hj', 'TR', 'CL',
       'Sc', 'eQ', 'kC', 'qK', 'dh', 'gM', 'Jf', 'fO', 'Eg', 'KZ', 'Vx',
       'Fo', 'sV', 'eb', 'YC', 'RG', 'Ye', 'qA', 'lL', 'Qh', 'Bd', 'be',
       'hT', 'lF', 'nX', 'kK', 'av', 'uS', 'Jt', 'PA', 'Er', 'Qb', 'od',
       'ut', 'Dx', 'Xi', 'on', 'Dc', 'sD', 'rZ', 'Uu', 'sn', 'yc', 'Gb',
       'Kq', 'dQ', 'hp', 'kL', 'je', 'CU', 'Fd', 'PQ', 'Bn', 'ex', 'hh',
       'ac', 'rp', 'dE', 'oG', 'oK', 'cp', 'mm', 'vK', 'ek', 'dO', 'XI',
       'CM', 'Vf', 'aO', 'qv', 'jp', 'Zq', 'Qo', 'DN', 'TZ', 'ke', 'cG',
       'tP', 'ud', 'tv', 'aM', 'xy', 'lx', 'To', 'uy', 'ZS', 'vy', 'ZR',
       'AP', 'GJ', 'Wv', 'ri', 'qw', 'Xh', 'FI', 'nh', 'KR', 'dB', 'BE',
       'Bb', 'mc', 'MC', 'tM', 'NV', 'ih', 'IK', 'Ob', 'RP', 'dN', 'us',
       'dZ', 'yN', 'Nf', 'QM', 'jV', 'sY', 'wu', 'SB', 'UO', 'Mx', 'JX',
       'Ry', 'Uk', 'uJ', 'LE', 'ps', 'kE', 'MO', 'kw', 'yY', 'zU', 'bJ',
       'Kf', 'ck', 'mb', 'Os', 'Ps', 'Ml', 'Ai', 'Wc', 'GD', 'll', 'aF',
       'iT', 'cA', 'WE', 'Gx', 'Nk', 'OR', 'Rm', 'BA', 'eG', 'cW', 'jS',
       'DH', 'hL', 'Mf', 'Yb', 'Aj', 'oH', 'Zc', 'qJ', 'eg', 'xP', 'vq',
       'Id', 'pa', 'ux', 'kU', 'Cl'], dtype=object)

In [135]:
train.bin_3.replace({'T':1 , 'F': 0}, inplace=True)

In [136]:
test.bin_3.replace({'T':1 , 'F': 0}, inplace=True)

In [137]:
train.bin_4.replace({'Y':1 , 'N': 0}, inplace=True)

In [138]:
test.bin_4.replace({'Y':1 , 'N': 0}, inplace=True)

In [139]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      300000 non-null  int64
 1   bin_0   300000 non-null  int64
 2   bin_1   300000 non-null  int64
 3   bin_2   300000 non-null  int64
 4   bin_3   300000 non-null  int64
 5   bin_4   300000 non-null  int64
 6   nom_0   300000 non-null  object
 7   nom_1   300000 non-null  object
 8   nom_2   300000 non-null  object
 9   nom_3   300000 non-null  object
 10  nom_4   300000 non-null  object
 11  ord_0   300000 non-null  int64
 12  ord_1   300000 non-null  object
 13  ord_2   300000 non-null  object
 14  ord_3   300000 non-null  object
 15  ord_4   300000 non-null  object
 16  ord_5   300000 non-null  object
 17  day     300000 non-null  int64
 18  month   300000 non-null  int64
 19  target  300000 non-null  int64
dtypes: int64(10), object(10)
memory usage: 45.8+ MB

In [140]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 19 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      200000 non-null  int64
 1   bin_0   200000 non-null  int64
 2   bin_1   200000 non-null  int64
 3   bin_2   200000 non-null  int64
 4   bin_3   200000 non-null  int64
 5   bin_4   200000 non-null  int64
 6   nom_0   200000 non-null  object
 7   nom_1   200000 non-null  object
 8   nom_2   200000 non-null  object
 9   nom_3   200000 non-null  object
 10  nom_4   200000 non-null  object
 11  ord_0   200000 non-null  int64
 12  ord_1   200000 non-null  object
 13  ord_2   200000 non-null  object
 14  ord_3   200000 non-null  object
 15  ord_4   200000 non-null  object
 16  ord_5   200000 non-null  object
 17  day     200000 non-null  int64
 18  month   200000 non-null  int64
dtypes: int64(9), object(10)
memory usage: 29.0+ MB

In [141]:
nom_train = train[["nom_0", "nom_1" , "nom_2", "nom_3" , "nom_4"]]

In [142]:
nom_train_dummies = pd.get_dummies(nom_train)

In [143]:
nom_test = test[["nom_0", "nom_1" , "nom_2", "nom_3" , "nom_4"]]
nom_test_dummies = pd.get_dummies(nom_test)

In [144]:
ord_train = train[["ord_0", "ord_1" , "ord_2" , "ord_3" , "ord_4" , "ord_5"]]

In [145]:
ord_test = test[["ord_0", "ord_1" , "ord_2" , "ord_3" , "ord_4" , "ord_5"]]

In [146]:
train.ord_1.unique()

array(['Grandmaster', 'Expert', 'Novice', 'Contributor', 'Master'],
      dtype=object)

In [147]:
enc_ord1 = OrdinalEncoder(categories=[['Novice', 'Contributor' , 'Expert' , 'Master' , 'Grandmaster']])

In [148]:
enc_ord1.fit(train[["ord_1"]])

OrdinalEncoder(categories=[['Novice', 'Contributor', 'Expert', 'Master',
                            'Grandmaster']])

In [149]:
train["ord_1"] = enc_ord1.transform(train[['ord_1']])

In [150]:
enc_ord1.fit(test[["ord_1"]])
test["ord_1"] = enc_ord1.transform(test[['ord_1']])

In [151]:
train.ord_2.unique()

array(['Cold', 'Hot', 'Lava Hot', 'Boiling Hot', 'Freezing', 'Warm'],
      dtype=object)

In [152]:
enc_ord2 = OrdinalEncoder(categories=[['Freezing', 'Cold' , 'Warm' , 'Hot' , 'Boiling Hot' , 'Lava Hot']])

In [153]:
enc_ord2.fit(train[["ord_2"]])

OrdinalEncoder(categories=[['Freezing', 'Cold', 'Warm', 'Hot', 'Boiling Hot',
                            'Lava Hot']])

In [154]:
train["ord_2"] = enc_ord2.transform(train[['ord_2']])

In [155]:
enc_ord2.fit(test[["ord_2"]])
test["ord_2"] = enc_ord2.transform(test[['ord_2']])

In [156]:
enc_ord3 = OrdinalEncoder()

In [157]:
enc_ord3.fit(train[['ord_3']])

OrdinalEncoder()

In [158]:
train['ord_3'] = enc_ord3.transform(train[['ord_3']])

In [159]:
enc_ord3.fit(test[['ord_3']])
test['ord_3'] = enc_ord3.transform(test[['ord_3']])

In [160]:
enc_ord4 = OrdinalEncoder()

In [161]:
enc_ord4.fit(train[['ord_4']])

OrdinalEncoder()

In [162]:
train['ord_4'] = enc_ord4.transform(train[['ord_4']])

In [163]:
enc_ord4.fit(test[['ord_4']])
test['ord_4'] = enc_ord4.transform(test[['ord_4']])

In [164]:
enc_ord5 = OrdinalEncoder()

In [165]:
enc_ord5.fit(train[['ord_5']])

OrdinalEncoder()

In [166]:
train['ord_5'] = enc_ord5.transform(train[['ord_5']])

In [167]:
enc_ord5.fit(test[['ord_5']])
test['ord_5'] = enc_ord5.transform(test[['ord_5']])

In [168]:
train_new = pd.merge(train , nom_train_dummies, left_index=True, right_index=True)

In [169]:
test_new = pd.merge(test , nom_test_dummies, left_index=True, right_index=True)

In [170]:
train_new.describe()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,...,nom_3_Canada,nom_3_China,nom_3_Costa Rica,nom_3_Finland,nom_3_India,nom_3_Russia,nom_4_Bassoon,nom_4_Oboe,nom_4_Piano,nom_4_Theremin
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,...,300000.000000,300000.00000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,149999.500000,0.127503,0.256607,0.383223,0.511783,0.638777,1.479567,1.622907,2.339350,6.609097,...,0.166503,0.15348,0.119960,0.123140,0.099840,0.337077,0.228160,0.307643,0.281723,0.182473
std,86602.684716,0.333537,0.436761,0.486173,0.499862,0.480356,0.712524,1.677608,2.031744,3.829374,...,0.372532,0.36045,0.324915,0.328598,0.299787,0.472712,0.419647,0.461519,0.449840,0.386235
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74999.750000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,149999.500000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,7.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,224999.250000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,4.000000,4.000000,10.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,299999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,4.000000,5.000000,14.000000,...,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [171]:
train_new.drop(["nom_0", "nom_1", "nom_2" , "nom_3" , "nom_4"], axis='columns', inplace=True)

In [172]:
test_new.drop(["nom_0", "nom_1", "nom_2" , "nom_3" , "nom_4"], axis='columns', inplace=True)

In [173]:
train_new.describe()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,...,nom_3_Canada,nom_3_China,nom_3_Costa Rica,nom_3_Finland,nom_3_India,nom_3_Russia,nom_4_Bassoon,nom_4_Oboe,nom_4_Piano,nom_4_Theremin
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,...,300000.000000,300000.00000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,149999.500000,0.127503,0.256607,0.383223,0.511783,0.638777,1.479567,1.622907,2.339350,6.609097,...,0.166503,0.15348,0.119960,0.123140,0.099840,0.337077,0.228160,0.307643,0.281723,0.182473
std,86602.684716,0.333537,0.436761,0.486173,0.499862,0.480356,0.712524,1.677608,2.031744,3.829374,...,0.372532,0.36045,0.324915,0.328598,0.299787,0.472712,0.419647,0.461519,0.449840,0.386235
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74999.750000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,149999.500000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,7.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,224999.250000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,4.000000,4.000000,10.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,299999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,4.000000,5.000000,14.000000,...,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [174]:
x = train_new.drop(['id' , 'target'], axis = 'columns')

In [175]:
y = train_new['target']

In [176]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: target, dtype: int64

In [177]:
x.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,ord_4,...,nom_3_Canada,nom_3_China,nom_3_Costa Rica,nom_3_Finland,nom_3_India,nom_3_Russia,nom_4_Bassoon,nom_4_Oboe,nom_4_Piano,nom_4_Theremin
0,0,0,0,1,1,2,4.0,1.0,7.0,3.0,...,0,0,0,1,0,0,1,0,0,0
1,0,1,0,1,1,1,4.0,3.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
2,0,0,0,0,1,1,2.0,5.0,7.0,17.0,...,0,0,0,0,0,1,0,0,0,1
3,0,1,0,0,1,1,4.0,4.0,8.0,3.0,...,1,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,1,4.0,0.0,0.0,17.0,...,1,0,0,0,0,0,0,1,0,0

In [178]:
model = LogisticRegression(solver='lbfgs',random_state=0 , max_iter=1000)

In [179]:
model.fit(x,y)

LogisticRegression(max_iter=1000, random_state=0)

In [180]:
model.predict(x)

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [181]:
model.score(x,y)

0.74277

In [182]:
test_x = test_new.drop(['id'], axis = 'columns')
ids = test_new['id']

In [183]:
result = model.predict(test_x)

In [184]:
result = pd.DataFrame(result, columns=['target'])

In [185]:
result1 = pd.merge(ids, result, left_index=True, right_index=True)
result1

            id  target
0       300000       0
1       300001       0
2       300002       0
3       300003       0
4       300004       1
...        ...     ...
199995  499995       0
199996  499996       0
199997  499997       0
199998  499998       0
199999  499999       0

[200000 rows x 2 columns]

In [186]:
result1.to_csv('./data/submission.csv', index=False)

#GradientBoostingRegression

In [188]:
mod1 = GradientBoostingRegressor(
    n_estimators=100, learning_rate=0.1, max_depth=50, random_state=0,loss='squared_error' )

In [189]:
mod1.fit(x,y)

GradientBoostingRegressor(max_depth=50, random_state=0)

In [190]:
result = mod1.predict(test_x)

In [201]:
mod1.score(x,y)

0.9999999992944921

In [191]:
result = pd.DataFrame(result, columns=['target'])

In [197]:
result1 = pd.merge(ids, result, left_index=True, right_index=True)
result1

            id    target
0       300000  0.000008
1       300001  0.515066
2       300002  0.878039
3       300003  0.000008
4       300004  0.999982
...        ...       ...
199995  499995  0.518173
199996  499996  0.767465
199997  499997  0.000008
199998  499998  0.896557
199999  499999  0.000008

[200000 rows x 2 columns]

In [193]:
result1.describe()

                  id         target
count  200000.000000  200000.000000
mean   399999.500000       0.319467
std     57735.171256       0.419037
min    300000.000000       0.000008
25%    349999.750000       0.000008
50%    399999.500000       0.000008
75%    449999.250000       0.750588
max    499999.000000       0.999982

In [198]:
result1['target'] = np.where(result['target'] > 0.95, 1, 0)

In [199]:
result1

            id  target
0       300000       0
1       300001       0
2       300002       0
3       300003       0
4       300004       1
...        ...     ...
199995  499995       0
199996  499996       0
199997  499997       0
199998  499998       0
199999  499999       0

[200000 rows x 2 columns]

In [200]:

result1.to_csv('./data/submission_GBR.csv', index=False)