In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
sample = pd.read_csv('./data/sample_submission.csv')

In [4]:
train.nom_0.unique()

array(['Green', 'Blue', 'Red'], dtype=object)

In [5]:
train.nom_1.unique()

array(['Triangle', 'Trapezoid', 'Polygon', 'Square', 'Star', 'Circle'],
      dtype=object)

In [6]:
train.nom_2.unique()

array(['Snake', 'Hamster', 'Lion', 'Cat', 'Dog', 'Axolotl'], dtype=object)

In [7]:
train.nom_3.unique()

array(['Finland', 'Russia', 'Canada', 'Costa Rica', 'China', 'India'],
      dtype=object)

In [8]:
train.nom_4.unique()

array(['Bassoon', 'Piano', 'Theremin', 'Oboe'], dtype=object)

In [11]:
len(train.nom_5.unique())

222

In [15]:
train.nom_6.unique()

len(train.nom_6.unique())

522

In [17]:
train.nom_7.unique()

len(train.nom_7.unique())

1220

In [18]:
train.nom_8.unique()

len(train.nom_8.unique())

2215

In [19]:
train.nom_9.unique()

len(train.nom_9.unique())

11981

In [21]:
train.ord_0.unique()

array([2, 1, 3], dtype=int64)

In [22]:
train.ord_1.unique()

array(['Grandmaster', 'Expert', 'Novice', 'Contributor', 'Master'],
      dtype=object)

In [23]:
train.ord_2.unique()

array(['Cold', 'Hot', 'Lava Hot', 'Boiling Hot', 'Freezing', 'Warm'],
      dtype=object)

In [24]:
train.ord_3.unique()

array(['h', 'a', 'i', 'j', 'g', 'e', 'd', 'b', 'k', 'f', 'l', 'n', 'o',
       'c', 'm'], dtype=object)

In [25]:
train.ord_4.unique()

array(['D', 'A', 'R', 'E', 'P', 'K', 'V', 'Q', 'Z', 'L', 'F', 'T', 'U',
       'S', 'Y', 'B', 'H', 'J', 'N', 'G', 'W', 'I', 'O', 'C', 'X', 'M'],
      dtype=object)

In [26]:
train.ord_5.unique()

array(['kr', 'bF', 'Jc', 'kW', 'qP', 'PZ', 'wy', 'Ed', 'qo', 'CZ', 'qX',
       'su', 'dP', 'aP', 'MV', 'oC', 'RL', 'fh', 'gJ', 'Hj', 'TR', 'CL',
       'Sc', 'eQ', 'kC', 'qK', 'dh', 'gM', 'Jf', 'fO', 'Eg', 'KZ', 'Vx',
       'Fo', 'sV', 'eb', 'YC', 'RG', 'Ye', 'qA', 'lL', 'Qh', 'Bd', 'be',
       'hT', 'lF', 'nX', 'kK', 'av', 'uS', 'Jt', 'PA', 'Er', 'Qb', 'od',
       'ut', 'Dx', 'Xi', 'on', 'Dc', 'sD', 'rZ', 'Uu', 'sn', 'yc', 'Gb',
       'Kq', 'dQ', 'hp', 'kL', 'je', 'CU', 'Fd', 'PQ', 'Bn', 'ex', 'hh',
       'ac', 'rp', 'dE', 'oG', 'oK', 'cp', 'mm', 'vK', 'ek', 'dO', 'XI',
       'CM', 'Vf', 'aO', 'qv', 'jp', 'Zq', 'Qo', 'DN', 'TZ', 'ke', 'cG',
       'tP', 'ud', 'tv', 'aM', 'xy', 'lx', 'To', 'uy', 'ZS', 'vy', 'ZR',
       'AP', 'GJ', 'Wv', 'ri', 'qw', 'Xh', 'FI', 'nh', 'KR', 'dB', 'BE',
       'Bb', 'mc', 'MC', 'tM', 'NV', 'ih', 'IK', 'Ob', 'RP', 'dN', 'us',
       'dZ', 'yN', 'Nf', 'QM', 'jV', 'sY', 'wu', 'SB', 'UO', 'Mx', 'JX',
       'Ry', 'Uk', 'uJ', 'LE', 'ps', 'kE', 'MO', 'kw', 'yY', 'zU', 'bJ',
       'Kf', 'ck', 'mb', 'Os', 'Ps', 'Ml', 'Ai', 'Wc', 'GD', 'll', 'aF',
       'iT', 'cA', 'WE', 'Gx', 'Nk', 'OR', 'Rm', 'BA', 'eG', 'cW', 'jS',
       'DH', 'hL', 'Mf', 'Yb', 'Aj', 'oH', 'Zc', 'qJ', 'eg', 'xP', 'vq',
       'Id', 'pa', 'ux', 'kU', 'Cl'], dtype=object)

In [27]:
train.bin_3.replace({'T':1 , 'F': 0}, inplace=True)

In [29]:
train.bin_4.replace({'Y':1 , 'N': 0}, inplace=True)

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      300000 non-null  int64
 1   bin_0   300000 non-null  int64
 2   bin_1   300000 non-null  int64
 3   bin_2   300000 non-null  int64
 4   bin_3   300000 non-null  int64
 5   bin_4   300000 non-null  int64
 6   nom_0   300000 non-null  object
 7   nom_1   300000 non-null  object
 8   nom_2   300000 non-null  object
 9   nom_3   300000 non-null  object
 10  nom_4   300000 non-null  object
 11  nom_5   300000 non-null  object
 12  nom_6   300000 non-null  object
 13  nom_7   300000 non-null  object
 14  nom_8   300000 non-null  object
 15  nom_9   300000 non-null  object
 16  ord_0   300000 non-null  int64
 17  ord_1   300000 non-null  object
 18  ord_2   300000 non-null  object
 19  ord_3   300000 non-null  object
 20  ord_4   300000 non-null  object
 21  ord_5   300000 non-null  object
 22  day     300000 non-null  int64
 23  month   300000 non-null  int64
 24  target  300000 non-null  int64
dtypes: int64(10), object(15)
memory usage: 57.2+ MB

In [34]:
nom_train = train[["nom_0", "nom_1" , "nom_2", "nom_3" , "nom_4" , "nom_5" , "nom_6" , "nom_7" , "nom_8" , "nom_9"]]

In [36]:
nom_train_dummies = pd.get_dummies(nom_train)

In [38]:
ord_train = train[["ord_0", "ord_1" , "ord_2" , "ord_3" , "ord_4" , "ord_5"]]

In [45]:
train.ord_1.unique()

array(['Grandmaster', 'Expert', 'Novice', 'Contributor', 'Master'],
      dtype=object)

In [62]:
enc_ord1 = OrdinalEncoder(categories=[['Novice', 'Contributor' , 'Expert' , 'Master' , 'Grandmaster']])

In [63]:
enc_ord1.fit(train[["ord_1"]])

OrdinalEncoder(categories=[['Novice', 'Contributor', 'Expert', 'Master',
                            'Grandmaster']])

In [66]:
train["ord_1"] = enc_ord1.transform(train[['ord_1']])

In [68]:
train.ord_2.unique()

array(['Cold', 'Hot', 'Lava Hot', 'Boiling Hot', 'Freezing', 'Warm'],
      dtype=object)

In [69]:
enc_ord2 = OrdinalEncoder(categories=[['Freezing', 'Cold' , 'Warm' , 'Hot' , 'Boiling Hot' , 'Lava Hot']])

In [70]:
enc_ord2.fit(train[["ord_2"]])

OrdinalEncoder(categories=[['Freezing', 'Cold', 'Warm', 'Hot', 'Boiling Hot',
                            'Lava Hot']])

In [72]:
train["ord_2"] = enc_ord2.transform(train[['ord_2']])

In [73]:
enc_ord3 = OrdinalEncoder()

In [76]:
enc_ord3.fit(train[['ord_3']])

OrdinalEncoder()

In [77]:
train['ord_3'] = enc_ord3.transform(train[['ord_3']])

In [79]:
enc_ord4 = OrdinalEncoder()

In [80]:
enc_ord4.fit(train[['ord_4']])

OrdinalEncoder()

In [81]:
train['ord_4'] = enc_ord4.transform(train[['ord_4']])

In [82]:
enc_ord5 = OrdinalEncoder()

In [84]:
enc_ord5.fit(train[['ord_5']])

OrdinalEncoder()

In [85]:
train['ord_5'] = enc_ord5.transform(train[['ord_5']])

In [89]:
train_new = pd.merge(train , nom_train_dummies, left_index=True, right_index=True)

In [91]:
train_new.describe()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,...,nom_9_ffc086cfa,nom_9_ffc668c22,nom_9_ffccfc611,nom_9_ffd347754,nom_9_ffd966e07,nom_9_fff13b60a,nom_9_fff1ce319,nom_9_fff4abc0b,nom_9_fffb01c38,nom_9_fffd6e64c
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,...,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,149999.500000,0.127503,0.256607,0.383223,0.511783,0.638777,1.479567,1.622907,2.339350,6.609097,...,0.000023,0.000060,0.000153,0.000103,0.000013,0.000057,0.000067,0.000020,0.000103,0.000107
std,86602.684716,0.333537,0.436761,0.486173,0.499862,0.480356,0.712524,1.677608,2.031744,3.829374,...,0.004830,0.007746,0.012382,0.010165,0.003651,0.007528,0.008165,0.004472,0.010165,0.010327
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74999.750000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,149999.500000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,224999.250000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,4.000000,4.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,299999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,4.000000,5.000000,14.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [93]:
train_new.drop(["nom_0", "nom_1", "nom_2" , "nom_3" , "nom_4" ,"nom_5", "nom_6" , "nom_7" , "nom_8"  , "nom_9"], axis='columns', inplace=True)

In [94]:
train_new.describe()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,...,nom_9_ffc086cfa,nom_9_ffc668c22,nom_9_ffccfc611,nom_9_ffd347754,nom_9_ffd966e07,nom_9_fff13b60a,nom_9_fff1ce319,nom_9_fff4abc0b,nom_9_fffb01c38,nom_9_fffd6e64c
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,...,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,149999.500000,0.127503,0.256607,0.383223,0.511783,0.638777,1.479567,1.622907,2.339350,6.609097,...,0.000023,0.000060,0.000153,0.000103,0.000013,0.000057,0.000067,0.000020,0.000103,0.000107
std,86602.684716,0.333537,0.436761,0.486173,0.499862,0.480356,0.712524,1.677608,2.031744,3.829374,...,0.004830,0.007746,0.012382,0.010165,0.003651,0.007528,0.008165,0.004472,0.010165,0.010327
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74999.750000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,149999.500000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,224999.250000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,4.000000,4.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,299999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,4.000000,5.000000,14.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [96]:
x = train_new.drop(['id' , 'target'], axis = 'columns')

In [97]:
y = train_new['target']

In [98]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: target, dtype: int64

In [99]:
x.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,ord_4,...,nom_9_ffc086cfa,nom_9_ffc668c22,nom_9_ffccfc611,nom_9_ffd347754,nom_9_ffd966e07,nom_9_fff13b60a,nom_9_fff1ce319,nom_9_fff4abc0b,nom_9_fffb01c38,nom_9_fffd6e64c
0,0,0,0,1,1,2,4.0,1.0,7.0,3.0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,1,1,4.0,3.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,1,2.0,5.0,7.0,17.0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,1,1,4.0,4.0,8.0,3.0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,4.0,0.0,0.0,17.0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
model = LogisticRegression(solver='saga', random_state=0)

In [105]:
model.fit(x,y)

MemoryError: Unable to allocate 36.2 GiB for an array with shape (16198, 300000) and data type float64